[user]
	name = {{ .name }}
	email = {{ .email }}
[core]
	editor = nvim
    pager = delta
[pull]
	rebase = true
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    light = false
    side-by-side = true
    line-numbers = true
    syntax-theme = Monokai Extended
    whitespace-error-style = 22 reverse
[merge]
    conflictstyle = zdiff3
[diff]
    colorMoved = default
    algorithm = histogram
[rerere]
    enabled = true
[push]
    autoSetupRemote = true
[fetch]
    prune = true
[branch]
    sort = -committerdate
