[user]
	name = {{ .name }}
	email = {{ .email }}
[core]
	editor = nvim
    pager = delta
[pull]
	rebase = true
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true              # use n and N to move between diff sections
    light = false                # set to true if you're in a terminal w/ a light background color
    side-by-side = true          # show diffs side-by-side
    line-numbers = true          # show line numbers
    syntax-theme = Monokai Extended
    whitespace-error-style = 22 reverse
[merge]
    conflictstyle = zdiff3       # more detailed 3-way merge
[diff]
    colorMoved = default
    algorithm = histogram        # better diff algorithm
[rerere]
    enabled = true               # remember conflict resolutions
